// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

/* Estilos login */

nav {
    background: linear-gradient(50deg, #594f8d, rgb(105, 224, 224));
}

nav .navbar-brand {
    color: white !important;
    font-size: 20px;
    font-weight: bolder;
}

.dropdown-item {
    color: black !important;
}


/* .dropdown-item:hover {
    color: black !important;
} */

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.navbar-nav li {
    text-align: center;
}

#navbarSupportedContent li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.loginButton {
    width: 200px !important;
    height: 45px;
    background: linear-gradient(50deg, #594f8d, rgb(105, 224, 224));
    border-color: white;
    font-weight: 600;
    margin-top: 10px;
}

.tablaPlanes {
    background-color: white !important;
    border-radius: 16px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
    height: 350px;
}

.headerform {
    background: linear-gradient(50deg, #594f8d, rgb(105, 224, 224));
    border-top-left-radius: 16px !important;
    border-top-right-radius: 16px !important;
    color: white;
    font-size: 17px;
    font-weight: 700;
}

.bgrhino {
    background: linear-gradient(50deg, #594f8d, rgb(105, 224, 224));
}

.bodyTabla {
    background-color: white !important;
}

.headertabla {
    border-radius: 16px;
    background: linear-gradient(50deg, #594f8d, rgb(105, 224, 224));
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

#email {
    height: calc(1.6em + 1.75rem + 2px);
}

#password {
    height: calc(1.6em + 1.75rem + 2px);
}

.logo {
    /* font-size: 5vw; */
    font-size: calc(4em + 1vw);
    text-align: center;
    font-weight: bolder;
    color: #594f8d, ;
    text-shadow: 1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
}


/* Cards User Home */

.home .row {
    margin-top: 60px;
}

.home .card {
    width: 100%;
    overflow: hidden;
    background: white;
    border-radius: 15px;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .6);
    margin-top: 15px;
    transition: all 300ms;
}

.home .card:hover {
    transform: translateY(-10px);
}

.home .card a {
    text-decoration: none;
}

.home header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
}

.home header::before {
    content: '';
    position: absolute;
    border-top: 30px solid transparent;
    border-left: 400px solid white;
    bottom: 0;
}

.home header img {
    width: 100%;
    height: 199px;
}

.home section {
    padding: 10px;
    overflow: hidden;
    text-align: center;
}

.home section h2 {
    margin: .5em 0;
}

.home section p {
    margin: 1em 0;
}

.home ul li {
    list-style: none;
    display: inline-block;
    margin: .5em .2em;
}

.home ul li a {
    text-decoration: none;
    color: white;
    background: #314652;
    width: 30px;
    height: 30px;
    line-height: 30px !important;
    border-radius: 50%;
    transition: all .3s ease-in-out;
}

.home ul li a:hover {
    transform: scale(1.2);
}

.home footer {
    width: 100%;
    height: 80px;
    background: #594f8d;
    color: white;
    position: relative;
}

.home footer::before {
    content: '';
    position: absolute;
    border-bottom: 30px solid transparent;
    border-right: 400px solid white;
    top: 0;
}

.home footer p {
    padding: 30px;
}


/* Responsive */

@media (max-width: 950px) {
    .home .row {
        margin-top: 10px;
    }
}